Django==1.5.4
HireFire==0.2
Markdown==2.4
South==0.8.2
amqp==1.0.13
anyjson==0.3.3
billiard==2.7.3.33
celery==3.0.23
decorator==3.4.0
dj-database-url==0.2.2
dj-static==0.0.5
django-angular==0.7.0
django-bootstrap3==2.5.6
django-crispy-forms==1.4.0
django-filter==0.7
django-rq==0.6.2
django-social-auth==0.7.28
django-sslify==0.2.3
django-tinymce==1.5.2
django-toolbelt==0.0.1
djangorestframework==2.3.13
docutils==0.11
gunicorn==18.0
httplib2==0.9
jenkinsapi==0.2.16
kombu==2.5.15
mechanize==0.2.5
oauth2==1.5.211
psycopg2==2.5.1
pysqlite==2.6.3
python-dateutil==2.1
python-openid==2.2.5
pytz==2013.7
redis==2.8.0
requests==2.0.0
rq==0.4.6
selenium==2.40.0
simple-salesforce==0.62.0
six==1.4.1
smmap==0.9.0
static==0.4
times==0.6.2
wsgiref==0.1.2
zope.event==4.0.2
zope.interface==4.1.0
zope.schema==4.4.0
zope.testbrowser==4.0.4
