GnuPGInterface==0.3.2
apt-xapian-index==0.44
chardet==2.0.1
command-not-found==0.2.44
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.16dev-r0
heroku==0.1.4
python-apt==0.8.0ubuntu9
python-dateutil==1.5
python-debian==0.1.20ubuntu2
requests==2.0.0
ufw==0.30.1-2ubuntu1
virtualenv==1.8.4
wsgiref==0.1.2
