{% extends 'mpinstaller/base.html' %}

{% load bootstrap3 %}

{% block bootstrap3_title %}{% block title %}{{ package }} Installer{% endblock %}{% endblock %}

{% block bootstrap3_content %}

{% bootstrap_messages %}

<div class="jumbotron">
  <h1>Create a Package Builder</h1>
  <p>Fill out the form below to create a package builder.  Once built, you will have a rest api to call which will trigger a build of the managed package in your package org using the currently configured package components.  After you submit, you will be taken to the overview page for your package builder with additional instructions.</p>
</div>

<div class="panel">
  <div class="panel-body">
    Connected to {{ oauth.org_type }} org as {{ oauth.org_id }} as {{ oauth.username }}
  </div>
</div>

<div class="panel">
  <div class="panel-body">
    <form action="/mrbelvedere/package-builder/create" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% bootstrap_icon "star" %} Submit
        </button>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
