{% extends 'mpinstaller/base.html' %}

{% load bootstrap3 %}

{% block bootstrap3_title %}{% block title %}{{ package }} Installer{% endblock %}{% endblock %}

{% block bootstrap3_content %}

{% bootstrap_messages %}

<div class="jumbotron">
  <h1>Package Builder for {{ builder.namespace }}</h1>
  <p>This builder connects to the package org for {{ builder.namespace }} as {{ builder.org.username }} and builds the package {{ builder.package_name }}</p>
</div>

<a class="btn btn-primary" href="{{ builder.namespace }}/build">Build</a>

{% endblock %}
