{% load crispy_forms_utils %}

{% specialspaceless %}
{% if form_tag %}<form {{ flat_attrs|safe }} method="{{ form_method }}" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>{% endif %}
    <div class="slds-form--stacked">
    {% if form_method|lower == 'post' and not disable_csrf %}
        {% csrf_token %}
    {% endif %}

    {% include "bootstrap/display_form.html" %}

    {% if inputs %}
      <div class="slds-form-element">
        <div class="slds-button-group slds-p-top--large" role="group">
            {% for input in inputs %}
                {% include "bootstrap/layout/baseinput.html" %}
            {% endfor %}
        </div>
      </div>
    {% endif %}
    </div>
{% if form_tag %}</form>{% endif %}
{% endspecialspaceless %}
