{% extends 'mpinstaller/base.html' %}

{% load bootstrap3 %}

{% block bootstrap3_title %}{{ version.package }} Installation Status{% endblock %}
{% block bootstrap3_page_title %}<a href="{{ version.get_installer_url }}">{{ version.package }} Installation Status</a>{% endblock %}
{% block bootstrap3_page_description %}This page shows the status of installing the {{ version.package }} into your connected Salesforce org.{% endblock %}

{% block extra_head %}
{% if installation.status != 'Succeeded' and installation.status != 'Failed' %}
 <meta http-equiv="refresh" content="3; URL=">
{% endif %}
{% endblock %}

{% block bootstrap3_content %}

{% bootstrap_messages %}
    {% if installation.status != 'Succeeded' and installation.status != 'Failed' %}
    <div class="alert alert-info">
      Your installation is running.  This page will refresh every 5 seconds until the installation is complete.  Depending on how many packages need to be changed in your org, the installation may take up to 15 minutes to complete in normal conditions.

      You can close this page if needed and the installation will continue.  You will receive emails from Salesforce with the status of each install/uninstall of a managed package.
    </div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {% if installation.status == 'Succeeded' %}
            <span class="glyphicon glyphicon-ok"></span>
          {% elif installation.status == 'Failed' %}
            <span class="glyphicon glyphicon-warning-sign"></span>
          {% elif installation.status == 'Pending' %}
            <span class="glyphicon glyphicon-time"></span>
          {% elif installation.status == 'InProgress' %}
            <span class="glyphicon glyphicon-refresh"></span>
          {% endif %}
          Overall Status
        </h3>
      </div>
      
      <div class="panel-body">  
        <div id="installation-progress-bar">
          {% if installation.status == 'Succeeded' %}
          <div class="progress">
            <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="{{ installation.get_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ installation.get_progress }}%">
              {{ installation.status }}
            </div>
          </div>
          {% elif installation.status == 'Failed' %}
          <div class="progress progress-bar-danger">
            <div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="{{ installation.get_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ installation.get_progress }}%">
              {{ installation.status }}
            </div>
          </div>
          {% elif installation.status == 'Pending' %}
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="{{ installation.get_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ installation.get_progress }}%">
              Queued
            </div>
          </div>
          {% elif installation.status == 'InProgress' %}
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-primary"  role="progressbar" aria-valuenow="{{ installation.get_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ installation.get_progress }}%">
              In Progress
            </div>
          </div>
          {% endif %}
        </div>
     
        <p>{{ installation.log }}</p>
      </div>
    </div>

    {% if installation.status == 'Succeeded' or installation.status == 'Failed' %}
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Installation Steps</h3>
      </div>
      <div class="panel-body">
        
        <ul class="list-group" id="installation-steps">
          {% for step in installation.steps.all %}
          <li class="list-group-item{% if step.status == 'Succeeded' %} list-group-item-success{% elif step.status == 'Failed' %} list-group-item-danger{% elif step.status == 'InProgress' %} list-group-item-primary{% elif step.status == 'Pending' %} list-group-item-info{% endif %}">
            <div class="row">
              <div class="col-md-3">
                {% if step.action == 'uninstall' %}
                <div class="text-warning"><span class="glyphicon glyphicon-cloud-download"></span> Uninstall</span></div>
                {% endif %}
                {% if step.action == 'install' %}
                <div class="text-primary"><span class="glyphicon glyphicon-cloud-upload"></span> Install</span></div>
                {% endif %}
                {% if step.action == 'upgrade' %}
                <div class="text-info"><span class="glyphicon glyphicon-ok"></span> Upgrade</span></div>
                {% endif %}
                {% if step.action == 'skip' %}
                <div class="text-muted"><span class="glyphicon glyphicon-cloud-upload"></span> No change</span></div>
                {% endif %}
 
                {% if step.status == 'Pending' %}
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    {{ step.status }}
                  </div>
                </div>
                {% elif step.status == 'InProgress' %}
                <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                    In Progress
                    </div>
                </div>
                {% elif step.action == 'skip' %}
                <div class="progress">
                  <div class="progress-bar progress-bar-muted" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; opacity: .3">
                    N/A
                  </div>
                </div>
                {% elif step.status == 'Succeeded' %}
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    {{ step.status }}
                  </div>
                </div>
                {% elif step.status == 'Failed' %}
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    {{ step.status }}
                  </div>
                </div>
                {% endif %}
              </div>
  
              <div class="col-md-6">
                <h3 class="panel-title">
                  {{ step.version.package.name }}
                  {% if step.action == 'uninstall' %}
                    <span class="text-muted">- {{ step.previous_version }}
                  {% elif step.version.number %}
                    <span class="text-muted">- {{ step.version.number }}
                  {% endif %}
                </h3>
                <p>{{ step.version.package.description }}</p>
              </div>
  
              <div class="col-md-2">
                {% if step.version.number %}
                <span class="badge alert-info"><span class="glyphicon glyphicon-gift"></span> Managed Package</span>
                {% elif step.version.zip_url %}
                <span class="badge"><span class="glyphicon glyphicon-compressed"></span> Metadata Bundle</span>
                {% endif %}
                {% if step.version.is_beta %}
                <span class="badge alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Beta</span>
                {% endif %}
              </div>
            </div>
          </li>
          {% endfor %} 
     
        </ul>
        </div>
      </div>
    
    </div>
   {% endif %} 

{% endblock %}
