{% extends 'mpinstaller/base.html' %}

{% load bootstrap3 %}

{% block bootstrap3_title %}{{ version.package }} {{ version.number }} Installation Status{% endblock %}
{% block bootstrap3_page_title %}<a href="{{ version.get_installer_url }}">{{ version.package }} {{ version.number }} Installation Status</a>{% endblock %}

{% block extra_head %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script> 
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script> 
<script type="text/javascript">
  var status_api_url = '{{ status_api_url }}';
</script>
<script src="/static/js/installation_status.js"></script> 

<style type="text/css">
  #installation-progress-bar .progress {
    height: 40px;
  }
  #installation-progress-bar .progress-bar {
    font-size: 21px;
    font-weight; bold;
    padding-top: 10px;
  }
</style>
{% endblock %}

{% block bootstrap3_content %}

{% bootstrap_messages %}

{% verbatim %}

  <div class="installation-status" ng-app="InstallationStatusApp" ng-controller="InstallationStatusController">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon" ng-class="{'glyphicon-ok': (installation.status == 'Succeeded'),'glyphicon-warning-sign': (installation.status == 'Failed'),}"></span>
          Overall Status
        </h3>
      </div>
      
      <div class="alert alert-primary" ng-hide="installation.progress == 100">
          <span ng-hide="installation.status != 'Pending'">Your installation will start in a moment. This page will provide updates until the installation completes.</span>
          <span ng-hide="installation.status != 'InProgress'">Your installation is in progress and running in the background. This page will provide updates until the installation completes.</span>
      </div>
      
      <div class="panel-body">  
        <div id="installation-progress-bar">
          <div class="progress" ng-class="{'progress-striped active': (installation.progress < 100)}">
            <div class="progress-bar" ng-class="{'progress-bar-success': (installation.status == 'Succeeded'), 'progress-bar-danger': (installation.status == 'Failed'),'progress-bar-primary': (installation.status == 'InProgress'), 'progress-bar-default': (installation.status == 'Pending')}" role="progressbar" aria-valuenow="{{installation.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{installation.progress}}%">
              {{installation.status}}
            </div>
          </div>
        </div>

        <div class="content-next-steps content-next-steps-succeeded" ng-if="installation.status == 'Succeeded' && installation.content_success">
          <h3>Next Steps</h3>
          <ul class="list-group">
            <li class="list-group-item list-group-item-success contextual-content" ng-repeat="content in installation.content_success">
              <div class="row">
                <div class="col-md-3">
                  <h4>{{content.heading}}</h4>
                </div>
                <div class="col-md-9">
                  <span ng-bind-html="content.body" />
                </div>
              </div>
            </li>
          </ul>
        </div>
          
        <div class="content-next-steps content-next-steps-failed" ng-if="installation.status == 'Failed' && installation.content_failure">
          <h3>Next Steps</h3>
          <ul class="list-group">
            <li class="list-group-item list-group-item-warning contextual-content" ng-repeat="content in installation.content_failure">
              <div class="row">
                <div class="col-md-3">
                  <h4>{{content.heading}}</h4>
                </div>
                <div class="col-md-9">
                  <span ng-bind-html="content.body" />
                </div>
              </div>
            </li>
          </ul>

          <a href="{% endverbatim %}{{ version.get_installer_url }}{% verbatim %}"><span class="glyphicon glyphicon-arrow-left"></span> Return to package overview to retry the installation</a>
        </div>
     
        <h3>Installation Log</h3>
        
        <ul class="list-group" id="installation-steps">
          
          <li class="list-group-item" ng-class="{'list-group-item-success': (step.status == 'Succeeded' && step.action != 'skip'), 'text-muted': (step.action == 'skip'), 'list-group-item-danger': (step.status == 'Failed'),'list-group-item-primary': (step.status == 'InProgress'), 'list-group-item-default': (step.status == 'Pending')}" ng-repeat="step in installation.steps">
            <div class="row">
  
              <div class="col-md-6">
                <h3 class="panel-title">
                  {{step.version.package.name}}
                  <span ng-hide="step.version.number == '' || step.version.number == null || step.action == 'uninstall'">- {{step.version.number}}</span>
                  <span ng-hide="step.action != 'uninstall'">- {{step.previous_version}}</span>
                </h3>
                <p>{{step.version.package.description}}</p>
              </div>

              <div class="col-md-3">
                <span ng-hide="step.version.zip_url == null || step.version.zip_url == ''" class="badge"><span class="glyphicon glyphicon-compressed"></span> Metadata Bundle</span>
                <span ng-hide="step.version.number == null || step.version.number == ''" class="badge alert-info"><span class="glyphicon glyphicon-gift"></span> Managed Package</span>
                <span ng-hide="step.version.is_beta != true" class="badge alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Beta Release</span>
              </div>

              <div class="col-md-3">
                
                <div ng-class="{'text-success': (step.status == 'Succeeded' && step.action != 'skip'), 'text-muted': (step.action == 'skip'), 'text-warning': (step.status == 'Cancelled'), 'text-danger': (step.status == 'Failed'),'text-primary': (step.status == 'InProgress'), 'text-default': (step.status == 'Pending')}">
                  <span class="glyphicon" ng-class="{'glyphicon-ok': (step.status == 'Succeeded'),'glyphicon-exclamation-sign': (step.status == 'Failed'), 'glyphicon-ban-circle': (step.status == 'Cancelled'), 'glyphicon-time': (step.status == 'Pending'), 'glyphicon-refresh': (step.status == 'InProgress')}"></span>
                  <span ng-hide="step.action != 'install'">Install</span>
                  <span ng-hide="step.action != 'upgrade'">Upgrade from {{ step.previous_version }}</span>
                  <span ng-hide="step.action != 'uninstall'">Uninstall</span>
                  <span ng-hide="step.action != 'skip'">No Change</span>
                </div>
                
                <div class="progress" ng-hide="step.status == 'Cancelled' || step.action == 'skip'" ng-class="{'progress-striped active': (step.progress < 100)}">
                  <div class="progress-bar" ng-class="{'progress-bar-success': (step.status == 'Succeeded'), 'progress-bar-danger': (step.status == 'Failed'),'progress-bar-primary': (step.status == 'InProgress'), 'progress-bar-default': (step.status == 'Pending')}" role="progressbar" aria-valuenow="{{step.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{step.progress}}%">
                    {{step.status}}
                  </div>
                </div>
                
              </div>
            </div>
    
            <div class="well" ng-hide="step.log == '' || step.log == null">
              {{step.log}}
            </div>

          </li>
          
        </ul>
        </div>
      </div>
    
    </div>
  </div>
{% endverbatim %}
{% endblock %}
