{% extends 'mpinstaller/layout_full.html' %}

{% load bootstrap3 %}

{% block base_title %}{{ version.package }} {{ version.number }} Installation Status{% endblock %}

{% block base_head %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script> 
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script> 
<script type="text/javascript">
  var status_api_url = '{{ status_api_url }}';
</script>
<script src="/static/js/installation_status.js"></script> 

<style type="text/css">
  #installation-progress-bar .progress {
    height: 40px;
  }
  #installation-progress-bar .progress-bar {
    font-size: 21px;
    font-weight; bold;
    padding-top: 10px;
  }
  .slds-wizard__progress {
    z-index: 0;
  }
  .slds-theme--default {
    color: #16325c;
  }

</style>
{% endblock %}

{% block base_body_wrapper_header %}
{% verbatim %}
  <div class="installation-status" ng-app="InstallationStatusApp" ng-controller="InstallationStatusController">
{% endverbatim %}
{% endblock %}

{% block base_body_wrapper_footer %}
  </div>
{% endblock %}

{% block layout_sidebar %}

{% verbatim %}
{% endverbatim %}
  {% endblock %}

  {% block layout_body %}
{% verbatim %}
    <div class="slds-box">
      <h3 class="slds-text-heading--large slds-p-bottom--large">
        <span class="glyphicon" ng-class="{'glyphicon-ok': (installation.status == 'Succeeded'),'glyphicon-warning-sign': (installation.status == 'Failed'),}"></span>
        Overall Status:
        <span class="slds-badge slds-text-heading--medium" ng-hide="installation.status != 'Pending'">Queued</span>
        <span class="slds-badge slds-text-heading--medium slds-theme--info" ng-hide="installation.status != 'InProgress'">In Progress</span>
        <span class="slds-badge slds-text-heading--medium slds-theme--success" ng-hide="installation.status != 'Succeeded'">Succeeded</span>
        <span class="slds-badge slds-text-heading--medium slds-theme--error" ng-hide="installation.status != 'Failed'">Failed</span>
      </h3>
      <div class="slds-box--body">  
        <div class="slds-notify_container" ng-hide="installation.progress == 100"> 
          <div class="slds-notify slds-notify--default">
            <span ng-hide="installation.status != 'Pending'">Your installation will start in a moment. This page will provide updates until the installation completes.</span>
            <span ng-hide="installation.status != 'InProgress'">Your installation is in progress and running in the background. This page will provide updates until the installation completes.</span>
          </div>
        </div>
        <div class="slds-wizard slds-p-bottom--large" role="navigation">
          <ol class="slds-wizard__list">
            <li class="slds-wizard__item" ng-class="{'slds-is-active': (installation.status == 'Pending' || installation.status == 'InProgress')}">
              <div class="slds-wizard__link">
                <span class="slds-wizard__marker" ng-class="{'slds-theme--success': (installation.status == 'Succeeded'), 'slds-theme--error': (installation.status == 'Failed')}"></span>
                <span class="slds-wizard__label slds-text-title--caps slds-truncate">Queued</span>
              </a>
            </li>
            <li class="slds-wizard__item" ng-class="{'slds-is-active': (installation.status == 'InProgress')}">
              <div class="slds-wizard__link">
                <span class="slds-wizard__marker" ng-class="{'slds-theme--success': (installation.status == 'Succeeded'), 'slds-theme--error': (installation.status == 'Failed')}"></span>
                <span class="slds-wizard__label slds-text-title--caps slds-truncate">In Progress</span>
              </div>
            </li>
            <li class="slds-wizard__item">
              <div class="slds-wizard__link">
                <span class="slds-wizard__marker" ng-class="{'slds-theme--success': (installation.status == 'Succeeded'), 'slds-theme--error': (installation.status == 'Failed')}"></span>
                <span class="slds-wizard__label slds-text-title--caps slds-truncate">Complete</span>
              </div>
            </li>
          </ol>
          <span class="slds-wizard__progress">
            <span class="slds-wizard__progress-bar" style="width:{{installation.progress}}%;" ng-class="{'slds-theme--success': (installation.status == 'Succeeded'), 'slds-theme--error': (installation.status == 'Failed')}"></span>
          </span>
        </div>
        <div class="slds-box slds-theme--success slds-p-top--large" ng-if="installation.status == 'Succeeded' && installation.content_success">
          <h3 class="slds-text-heading--large slds-p-bottom--large">Next Steps</h3>
          <div class="slds-box--body">
            <div class="slds-box slds-theme--default" ng-repeat="content in installation.content_success">
              <h3 class="slds-text-heading--medium slds-p-bottom--medium">{{content.heading}}</h3>
              <div class="slds-box--body">
                <span ng-bind-html="content.body" />
              </div>
            </div>
          </div>
        </div>
          
        <div class="slds-box slds-theme--error slds-p-top--large" ng-if="installation.status == 'Failed' && installation.content_failure">
          <h3 class="slds-text-heading--large slds-p-bottom--large">Next Steps</h3>
          <div class="slds-box--body">
            <div class="slds-box slds-theme--default" ng-repeat="content in installation.content_failure">
              <h3 class="slds-text-heading--medium slds-p-bottom--medium">{{content.heading}}</h3>
              <div class="slds-box--body">
                <span ng-bind-html="content.body" />
              </div>
            </div>
          </div>
        </div>

        <div class="slds-button-group slds-p-top--large" ng-if="installation.status == 'Failed'">
          <a href="{% endverbatim %}{{ version.get_installer_url }}{% verbatim %}"><button class="slds-button slds-button--brand">Retry Installation</button></a>
        </div>
      </div>
    </div>


    <div class="slds-box">
      <h3 class="slds-text-heading--large slds-p-bottom--large">Installation Log</h3>
      <div class="slds-box--body">  
        <ul id="installation-steps">
          
          <li ng-repeat="step in installation.steps">
            <div class="slds-media">
              <div class="slds-media__body">
                <div class="slds-media slds-media--timeline">
                  <div class="slds-media__figure slds-timeline__icon slds-timeline__media--email">
                    <div class="slds-icon_container" ng-hide="step.status != 'Pending'">
                      <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-standard-email">
                        {% autoescape off %}
                        <use xlink:href="/static/slds/assets/icons/utility-sprite/svg/symbols.svg#clock"></use>
                        {% endautoescape %}
                      </svg>
                    </div>
                    <div class="slds-icon_container" ng-hide="step.status != 'InProgress'">
                      <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-action-email slds-icon-text-default">
                        {% autoescape off %}
                        <use xlink:href="/static/slds/assets/icons/utility-sprite/svg/symbols.svg#spinner"></use>
                        {% endautoescape %}
                      </svg>
                    </div>
                    <div class="slds-icon_container" ng-hide="step.status != 'Succeeded'">
                      <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-action-new-task">
                        {% autoescape off %}
                        <use xlink:href="/static/slds/assets/icons/utility-sprite/svg/symbols.svg#success"></use>
                        {% endautoescape %}
                      </svg>
                    </div>
                    <div class="slds-icon_container" ng-hide="step.status != 'Failed'">
                      <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-action-close">
                        {% autoescape off %}
                        <use xlink:href="/static/slds/assets/icons/utility-sprite/svg/symbols.svg#error"></use>
                        {% endautoescape %}
                      </svg>
                    </div>
                    <div class="slds-icon_container" ng-hide="step.status != 'Cancelled'">
                      <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-action-email">
                        {% autoescape off %}
                        <use xlink:href="/static/slds/assets/icons/utility-sprite/svg/symbols.svg#ban"></use>
                        {% endautoescape %}
                      </svg>
                    </div>
                  </div>
                  <div class="slds-media__body">
                    <div class="slds-grid" ng-class="{'sdls-theme--shaded': (step.action == 'skip')}">
                      <div class="slds-col slds-size--2-of-3">
                        <h3 class="slds-text-heading--medium">{{step.action}} {{step.version.package.name}}</h3>
                        <ul class="slds-list--horizontal slds-wrap">
                          <li class="slds-m-right--large">
                            <span class="slds-text-title">Type:</span>
                            <span class="slds-text-body--small" ng-hide="step.version.zip_url == null || step.version.zip_url == ''" class="slds-badge">
                              Unmanaged Metadata from Zip
                            </span>
                            <span class="slds-text-body--small" ng-hide="step.version.repo_url == null || step.version.repo_url == ''" class="slds-badge">
                              Unmanaged Metadata from Github
                            </span>
                            <span class="slds-text-body--small" ng-hide="step.version.number == null || step.version.number == ''" class="slds-badge">
                              <span class="slds-icon_container">
                              </span>
                              Managed Package
                            </span>
                            <span class="slds-text-body--small" ng-hide="step.version.is_beta != true" class="slds-badge">
                              <span class="slds-icon_container">
                              </span>
                              Managed Package Beta
                            </span>
                          </li>
                        </ul>
                      </div>
                      <div class="slds-col slds-size--1-of-3">
                        <span class="slds-badge slds-float--right slds-text-heading--small" ng-class="{'slds-theme--info': (step.status == 'InProgress'), 'slds-theme--success': (step.status == 'Succeeded'), 'slds-theme--error': (step.status == 'Failed')}">{{ step.status }}</span>
                      </div>
                    </div>
                    <div class="slds-box" ng-class="{'slds-theme--error': (step.status == 'Failed'), 'slds-theme--shaded': (step.status == 'Cancelled')}" ng-hide="step.log == '' || step.log == null">
                      <div class="slds-box--body">
                        <pre>{{step.log}}</pre>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    

          </li>
          
        </ul>
      </div>
    </div>
{% endverbatim %}
{% endblock %}
