{% extends 'mpinstaller/base.html' %}

{% load bootstrap3 %}

{% block bootstrap3_title %}{{ package }} Installer{% endblock %}
{% block bootstrap3_page_title %}{{ package }} Installer{% endblock %}
{% block bootstrap3_page_description %}{{ package.description }}{% endblock %}

{% block bootstrap3_content %}

{% bootstrap_messages %}

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Installation Unavailable</h3>
  </div>
     
  <div class="panel-body"> 
    {% if reason == 'modify-all-data' %}
    <p>You must have the Modify All Data permission enabled before you can run this installer.  The profile associated with the username you connected with does not have this permission.  You must either add the Modify All Data permission to your profile, or log in as a user who has the correct permission assigned.</p>

    <p>You have been logged out and will need to log in to your organization again as a user who has the Modify All Data permission.  You may need to open your Salesforce org in a browser and log out so that you can log in again as a different user.</p>
    {% endif %}

    {% if reason == 'beta-in-prod-org' %}
    <p>You are trying to install a beta package into a production organization.  You can only install beta packages in Developer Edition or sandbox organizations.</p>
 
    <p>You have been logged out.  Please return to the installer and log in to a Developer Edition or sandbox organization.</p>
    {% endif %}

    {% if reason == 'sandbox-required' %}
    <p>Before upgrading a production organization, you must first complete a successful upgrade in a sandbox.  This is a best practice and is required for upgrades to reduce the risk of issues in your production organization.  Please go to Setup -> Deploy -> Sandboxes to create a sandbox.  Once you have your sandbox, return to the installer and connect to your sandbox.</p>
    <p>When you have completed a successful upgrade in your sandbox, you will be able to run the upgrade against your production organization.</p>
    {% endif %}
    <span class="gylphicon glyphicon-arrow-up"></span> <a href="{{ install_url }}">Return to installer</a>.
  </div>
</div>

{% endblock %}
