{% extends 'mpinstaller/base.html' %}

{% load bootstrap3 %}

{% block bootstrap3_title %}{% if version %}{{ version.package }}{% endif %} Installer{% endblock %}
{% block bootstrap3_page_title %}{% if version %}<a href="{{ version.get_installer_url }}">{{ version.package }} Installer</a>{% else %}Installer{% endif %}{% endblock %}
{% block bootstrap3_page_description %}{% if version %}{{ version.package.description }}{% endif %}{% endblock %}

{% block page_js %}
  <script type="text/javascript">
    {% autoescape off %}
    var actions = {{ actions }};
    var current_action_index = 0;
   
    function run_actions(actions) {
        if (actions.length == current_action_index) {
            $('#console-log .panel-body').append('<div>Redirecting to <a href="{{ redirect }}">{{ redirect }}</a></div>');
            $("html, body").animate({ scrollTop: $(document).height() }, "slow");
            window.location = '{{ redirect }}';
        }
        action = actions[current_action_index];
   
        // Add console log line     
        $('#console-log .panel-body').append('<div>' + action['message'] + '</div>');
        $("html, body").animate({ scrollTop: $(document).height() }, "slow");

        $.ajax({
            url: action['url'],
            type: 'GET',
            success: function () {
                $('#console-log .panel-body').append('<div>OK</div>');
                $("html, body").animate({ scrollTop: $(document).height() }, "slow");
                // Trigger the next action
                run_actions(actions);
            },
            error: function () {
                $('#console-log .panel-body').append('<div>OK</div>');
                $("html, body").animate({ scrollTop: $(document).height() }, "slow");
                // Trigger the next action
                run_actions(actions);
            }
        });

        current_action_index += 1;
    }

    run_actions(actions);

    {% endautoescape %}
  </script>
{% endblock %}

{% block bootstrap3_content %}

{% bootstrap_messages %}

<div id="console-log" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Examining your Org...</h3>
  </div>
  <div class="panel-body">
    <div class="alert alert-info">
      We need to collect some information on your org to determine the required install steps.  This should only take a few minutes at most.  You will be automatically redirected back to the install page when complete.
    </div>
    {{ message }}
  </div>
</div>

{% endblock %}
