{% extends 'mpinstaller/layout_full.html' %}


{% block base_head %}
  {% load bootstrap3 %}
  {% autoescape off %}
  {% bootstrap_javascript jquery=True %}
  {% endautoescape %}

  <script type="text/javascript">
    {% autoescape off %}
    var actions = {{ actions }};
    var current_action_index = 0;
   
    function run_actions() {
        if (actions.length == current_action_index) {
            $('#console-log .slds-box--body').append('<div>Redirecting to <a href="{{ redirect }}">{{ redirect }}</a></div>');
            //$("html, body").animate({ scrollTop: $(document).height() }, "slow");
            window.location = '{{ redirect }}';
        }
        action = actions[current_action_index];
   
        // Add console log line     
        $('#console-log .slds-box--body').append('<div>' + action['message'] + '</div>');
        //$("html, body").animate({ scrollTop: $(document).height() }, "slow");

        $.ajax({
            url: action['url'],
            type: 'GET',
            success: function () {
                $('#console-log .slds-box--body').append('<div>OK</div>');
                //$("html, body").animate({ scrollTop: $(document).height() }, "slow");
                // Trigger the next action
                setTimeout(function () {run_actions()}, 1000);
            },
            error: function () {
                $('#console-log .slds-box--body').append('<div>OK</div>');
                //$("html, body").animate({ scrollTop: $(document).height() }, "slow");
                // Trigger the next action
                setTimeout(function () {run_actions()}, 1000);
            }
        });

        current_action_index += 1;
    }

    run_actions(actions);

    {% endautoescape %}
  </script>
{% endblock %}

{% block layout_body %}

<div id="console-log" role="dialog" tabindex="-1" aria-labelledby="console-log-header" class="slds-modal slds-fade-in-open">
  <div class="slds-modal__container">
    <div class="slds-modal__header">
      <h2 id="console-log-header" class="slds-text-heading--medium">Examining your Org</h2>
    </div>
    <div class="slds-modal__content slds-p-around--medium">
      <p>We need to collect some information about your organization. This should only take a few seconds.</p>
    
      <div class="slds-box">
        <div class="slds-box--body">
          {{ message }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="slds-backdrop slds-backdrop--open"></div>

{% endblock %}
