{% extends 'mpinstaller/base.html' %}

{% load bootstrap3 %}

{% block bootstrap3_title %}{% block title %}{{ package }} Installer{% endblock %}{% endblock %}

{% block bootstrap3_content %}

{% bootstrap_messages %}

<div class="jumbotron">
  <h1>{{ package }}</h1>
  <p>{{ package.description }}</p>
</div>

<div id="oauth-connection-status" class="jumbotron">
{% if login_url %}
You are not connected to a Salesforce.com organization.  
<div class="button-grp">
  <a class="btn btn-primary" href="{{ login_url }}">Login</a>
  <a class="btn btn-default" href="{{ login_url }}&sandbox=true">Sandbox Login</a>
</div>
{% else %}
You are connected to {{ oauth.org_type }} org {{ oauth.org_name }} ({{ oauth.org_id }}) as {{ oauth.username }}.
<div class="button-grp">
  <a class="btn btn-primary" href="{{ logout_url }}">Logout</a>
</div>
{% endif %}
</div>

{% if package.current_prod %}
<div id="production-version" class="version-install panel panel-default">
  <div class="panel-heading">Production: {{ package.current_prod.version.number }}</div>
  <div class="panel-body">
    <h5>Required Package Versions</h5>
    <table class="table">
      <thead>
        <tr>
          <th>Package Name</th>
          <th>Description</th>
          <th>Namespace</th>
          <th>Required Version</th>
          <th>Current Version in Org</th>
          <th>Installer Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for pkg in package_list_prod %}
        <tr>
          <td>{{ pkg.package }}</td>
          <td>{{ pkg.description }}</td>
          <td>{{ pkg.namespace }}</td>
          <td>{{ pkg.version }}</td>
          <td>
            {% if not login_url %}
              {% if pkg.installed %}{{ pkg.installed }}{% else %}Not Installed{% endif %}</td>
            {% else %}
              N/A
            {% endif %}
          <td>
            {% if not login_url %}
              {% if pkg.uninstall and pkg.install %}
                Uninstall &amp; Install
              {% elif pkg.uninstall %}
                Uninstall
              {% elif pkg.installed and pkg.install %}
                Upgrade
              {% elif pkg.install %}
                Install
              {% else %}
                Skip
              {% endif %}
            {% else %}
              N/A
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% if login_url %}
    <div class="alert alert-info">You are not currently connect to an org.  Once connected, you will see links to install and uninstall here.</div>
    {% else %}
    <div class="button-grp">
      <a class="btn btn-warning link-install" href="">Install</a>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

{% if package.current_beta %}
<div id="beta-version" class="version-install panel panel-default">
  <div class="panel-heading">Beta: {{ package.current_beta.number }}</div>
  <div class="panel-body">
    <h5>Required Package Versions</h5>
    <table class="table">
      <thead>
        <tr>
          <th>Package Name</th>
          <th>Description</th>
          <th>Namespace</th>
          <th>Required Version</th>
          <th>Current Version in Org</th>
          <th>Installer Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for pkg in package_list_beta %}
        <tr>
          <td>{{ pkg.package }}</td>
          <td>{{ pkg.description }}</td>
          <td>{{ pkg.namespace }}</td>
          <td>{{ pkg.version }}</td>
          <td>
            {% if not login_url %}
              {% if pkg.installed %}{{ pkg.installed }}{% else %}Not Installed{% endif %}</td>
            {% else %}
              N/A
            {% endif %}
          <td>
            {% if not login_url %}
              {% if pkg.uninstall and pkg.install %}
                Uninstall &amp; Install
              {% elif pkg.uninstall %}
                Uninstall
              {% elif pkg.installed and pkg.install %}
                Upgrade
              {% elif pkg.install %}
                Install
              {% else %}
                Skip
              {% endif %}
            {% else %}
              N/A
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="alert alert-warning">WARNING: Installing a beta managed package is a destructive operation.  Once installed, you cannot upgrade the package.  Installing a beta should only be done against a Sandbox or Development Edition org dedicated to the purpose of testing the beta.</div>
    {% if login_url %}
      <div class="alert alert-info">You are not currently connect to an org.  Once connected, you will see links to install and uninstall here.</div>
    {% else %}
      {% if oauth.org_type == 'Enterprise Edition' or oauth.org_type == 'Unlimited Edition' %}
        <div class="alert alert-info">You cannot install a beta package in a production org.  Please connect to a sandbox or Development Edition org to install the beta</div>
      {% else %}
        <div class="button-grp">
          <a class="btn btn-warning link-install" href="">Install</a>
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endif %}

<div id="deploy-console" class="panel panel-default">
  <div class="panel-heading">Deploy Log</div>
  <div class="panel-body"></div>
</div>

{% comment %}
<form action="/url/to/submit/" method="post" class="form">
{% csrf_token %} {% bootstrap_form form %} {% buttons %}

<button type="submit" class="btn btn-primary">
{% bootstrap_icon "star" %} Submit

</button>
{% endbuttons %}

</form>
{% endcomment %}

{% endblock %}

{% block page_js %}
<script type="text/javascript">
{% autoescape off %}
    var install_map_prod = {{ install_map_prod_json }};
    var install_map_beta = {{ install_map_beta_json }};
    var mpinstaller_base_url = '{{ base_url }}';
{% endautoescape %}

    var mpinstaller_package = null;
    var mpinstaller_action = null
    var mpinstaller_process_id = null;
    var mpinstaller_status = null;

    function deployPackage(map) {
        $.each(map, function (index, value) {
            // If there is a current package which is not completed or errored, skip other packages
            if ((mpinstaller_package != value['namespace'] || mpinstaller_action != value['action']) && mpinstaller_package != null) {
                // Continue to the next item in the loop
                return true;
            }
        
            // If the current status is Error, alert and exit
            if (mpinstaller_status == 'Failed') {
                alert('Installation of ' + mpinstaller_package + 'failed');
                mpinstaller_package = null;
                mpinstaller_action = null;
                mpinstaller_process_id = null;
                mpinstaller_status = null;

                // Break out of the loop to cancel the deployment
                return false;
            }
                
            // If the current package is Succeeded, clear variables to allow next loop to execute then continue
            if (mpinstaller_status == 'Succeeded') {
                mpinstaller_package = null;
                mpinstaller_action = null;
                mpinstaller_process_id = null;
                mpinstaller_status = null;

                // Continue to the next item in the loop
                return true;
            }

            // If we are starting a new package and action is skip, skip the package
            if (mpinstaller_status == null && value['action'] == 'skip') {
                return true;
            }
    
            // Start the deployment
            if (mpinstaller_status == null) {
                mpinstaller_package = value['namespace'];
                mpinstaller_action = value['action'];

                if (value['action'] == 'install') {
                    version_action_url = mpinstaller_base_url + value['namespace'] + '/' + value['version'] + '/install';
                    log_message = $('<div><h3>Installing ' + value['package'] + ' (' + value['namespace'] + ') version ' + value['version'] + '</h3></div>');
                } else if (value['action'] == 'uninstall') {
                    version_action_url = mpinstaller_base_url + value['namespace'] + '/uninstall';
                    log_message = $('<div><h3>Uninstalling ' + value['package'] + ' (' + value['namespace'] + ') version ' + value['installed'] + '</h3></div>');
                }
   
                $('#deploy-console .panel-body').append(log_message);
                $("html, body").animate({ scrollTop: $(document).height() }, "slow");

    
                // Call the action_url and get back a process_id
                $.ajax(version_action_url, {
                    'dataType': 'json',
                    'success': function (data) {
                        mpinstaller_process_id = data['process_id'];
                        log_message = $('<div>Started process id ' + mpinstaller_process_id + '</div>');
                        $('#deploy-console .panel-body').append(log_message);
                        $("html, body").animate({ scrollTop: $(document).height() }, "slow");
                      
                        // Set status to Queued to trigger a status check
                        mpinstaller_status = 'Pending';
                        deployPackage(map);
                    }
                });

                // Break out of the loop to wait for callback
                return false;
            }

            // If queued or in progress, check the status    
            if (mpinstaller_status == 'Pending' || mpinstaller_status == 'InProgress') {
                // Check Status
                status_url = mpinstaller_base_url + 'check_deploy_status?id=' + mpinstaller_process_id;
                $.ajax(status_url, {
                    'dataType': 'json',
                    'success': function (data) {
                        // Only write to the console if status has changed
                        if (mpinstaller_status != data['status']) {
                            status_message = data['status'];
                            if (status_message == 'Failed') {
                                status_message = status_message + ': ' + data['message'];
                            }
                            log_message = $('<div>Status: ' + status_message + '</div>');
                            $('#deploy-console .panel-body').append(log_message);
                            $("html, body").animate({ scrollTop: $(document).height() }, "slow");
                        }

                        // Set the status for next iteration
                        mpinstaller_status = data['status'];

                        if (data['done'] == true) {
                            // If the package is done, perform the callback immediately
                            deployPackage(map);
                        } else {
                            // If not done, check the status again in a second
                            setTimeout(function () {deployPackage(map)}, 1000 );
                        }
                    }
                });

                // Break out of the loop to wait for callback
                return false;
            }

            // End of deployment
            return false;
        });
    }

    $('#prod-version.version-install').each(function () {
        $(this).find('a.link-install').click(function () {
            deployPackage(install_map_prod);
            return false;
        })
    })
    $('#beta-version.version-install').each(function () {
        $(this).find('a.link-install').click(function () {
            deployPackage(install_map_beta);
            return false;
        })
    })
</script>

{% endblock %}
