{% extends 'mpinstaller/layout_full.html' %}

{% block base_title %}Installer - Available Packages{% endblock %}
{% block layout_header_text %}
Available Packages
{% endblock %}

{% block layout_body %}
{% if packages %}
<div class="slds-box">
  <h3 class="slds-text-heading--large slds-p-bottom--large">Packages available for installation</h3>
     
  <div class="slds-box--body"> 
    <div class="slds-grid slds-clearfix slds-wrap">
      <div class="slds-col slds-size--3-of-6 slds-p-bottom--medium">
        <h3 class="slds-text-heading--medium">Package Name</h3>
      </div>
      <div class="slds-col slds-size--1-of-6 slds-p-bottom--medium">
        <h3 class="slds-text-heading--medium">Production</h3>
      </div>
      <div class="slds-col slds-size--1-of-6 slds-p-bottom--medium">
        <h3 class="slds-text-heading--medium">Beta</h3>
      </div>
      <div class="slds-col slds-size--1-of-6 slds-p-bottom--medium">
        <h3 class="slds-text-heading--medium">Github</h3>
      </div>
    {% for package in packages %}
      <div class="slds-col slds-size--3-of-6 slds-p-bottom--medium">
        <h3 class="slds-text-heading--small">{{ package }}</h3>
      </div>
      <div class="slds-col slds-size--1-of-6 slds-p-bottom--medium">
      {% if package.current_prod %}
        <div class="slds-button-group" role="group">
        <a href="{{ package.namespace }}">
          <button class="slds-button slds-button--neutral">
            Install
          </button>
        </a>
        </div>
      {% else %}
        -
      {% endif %}
      </div>
      <div class="slds-col slds-size--1-of-6 slds-p-bottom--medium">
      {% if package.current_beta %}
        <div class="slds-button-group" role="group">
        <a href="{{ package.namespace }}/beta">
          <button class="slds-button slds-button--neutral">
            Install
          </button>
        </a>
        </div>
      {% else %}
        -
      {% endif %}
      </div>
      <div class="slds-col slds-size--1-of-6 slds-p-bottom--medium">
      {% if package.current_github %}
        <div class="slds-button-group" role="group">
        <a href="{{ package.namespace }}/github">
          <button class="slds-button slds-button--neutral">
            Install
          </button>
        </a>
        </div>
      {% else %}
        - 
      {% endif %}
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% else %}
<div class="slds-box slds-theme--info">
  <h3 class="slds-text-heading--large slds-p-bottom--large">No Packages Available</h3>
  <div class="slds-box--body">
    An administrator needs to configure packages and assign a current production, beta, or github version for at least one package.
  </div>
</div>
{% endif %}
{% endblock %}
