{% extends 'mpinstaller/layout_workspace.html' %}

{% block layout_body %}
<div class="slds-box">
  <h3 class="slds-text-heading--medium">Release not found</h3>
     
  <div class="slds-box--body"> 
    This package has not yet published a {% if beta %}beta{% else %}production{% endif %} release.  Please check back later.

    {% if not beta and package.current_beta %}
    This package does have a <a href="{{ package.namespace }}/beta">published beta release which can be installed here.</a>
    {% endif %}
  </div>
</div>
{% endblock %}
