{% extends 'contributor/base.html' %}


{% block base_page_header %}
<div class="slds-page-header" role="banner">
  <div class="slds-grid">
    <div class="slds-media">
      <div class="slds-media__body">
        <p class="slds-text-heading--label"><a href="/contributor">Contributions</a></p>
        <h1 class="slds-text-heading--medium slds-m-right--small slds-truncate slds-align-middle" title="Record Title">Welcome Contributors!</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block base_body %}
  <div class="slds-grid slds-wrap">
    <div class="slds-col slds-size--1-of-1 slds-p-around--large">

      <div class="slds-box slds-p-top--large">
        <h3 class="slds-text-heading--medium slds-p-bottom--medium">Get Started!</h3>
        <p>Ready to get started on a Contribution?  Click the button below and you will be prompted to authorize access to your GitHub login.  If you don't already have a GitHub login, you should <a href="https://github.com/join">create one now</a> and return when done.</p>
        <div class="slds-button-group slds-p-top--medium" role="group">
          <a href="create" class="slds-button slds-button--brand">Start a Contribution</a>
        </div>
      </div>

    </div>
    <div class="slds-col slds-size--1-of-1 slds-p-around--large">

      <div class="slds-box">
        <h3 class="slds-text-heading--medium slds-p-bottom--medium">What is this?</h3>
        <p>This application is built to assist you in contributing to a Salesforce package development project.  It is designed to require no prior knowledge of Git, GitHub, Ant, or Salesforce package development.  No local software is required to be installed on your computer.  All you need to get started is a GitHub account and a Salesforce Developer Edition org where you will develop your contribution.  Your contribution can be developed any way you like in your Developer Edition org including through the web customization, Developer Console, Force IDE, MavensMate, or any other method for customizing Salesforce metadata.</p>
    
        <p>The following tasks will be automatically handled for you:</p>
      
        <ul class="slds-list--dotted slds-p-top--medium">
          <li>Creating a new GitHub Issue or selecting an existing one</li>
          <li>Creating a fork of the GitHub repository for the project</li>
          <li>Naming and creating a feature branch in your forked repository to hold your contribution</li>
          <li>Deploying from your feature branch to your Developer Edition org</li>
          <li>Retrieving your changes from your Developer Edition org and committing them to your feature branch</li>
          <li>Submitting a Pull Request in GitHub to submit your contribution for review and inclusion in the package</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

<div class="panel">
  <div class="panel-heading">
  </div>
  <div class="panel-body">


  </div>
</div>

<div class="panel">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <p>This application is built to assist you in contributing to a Salesforce package development project.  It is designed to require no prior knowledge of Git, GitHub, Ant, or Salesforce package development.  No local software is required to be installed on your computer.  All you need to get started is a GitHub account and a Salesforce Developer Edition org where you will develop your contribution.  Your contribution can be developed any way you like in your Developer Edition org including through the web customization, Developer Console, Force IDE, MavensMate, or any other method for customizing Salesforce metadata.</p>

    <p>The following tasks will be automatically handled for you:</p>
  
    <ul>
      <li>Creating a new GitHub Issue or selecting an existing one</li>
      <li>Creating a fork of the GitHub repository for the project</li>
      <li>Naming and creating a feature branch in your forked repository to hold your contribution</li>
      <li>Deploying from your feature branch to your Developer Edition org</li>
      <li>Retrieving your changes from your Developer Edition org and committing them to your feature branch</li>
      <li>Submitting a Pull Request in GitHub to submit your contribution for review and inclusion in the package</li>
    </ul>
  </div>
</div>
