{% extends 'contributor/base.html' %}

{% load crispy_forms_tags %}

{% block base_page_header %}
<div class="slds-page-header" role="banner">
  <nav class="slds-m-bottom--xx-small" role="navigation">
    <p id="bread-crumb-label" class="slds-assistive-text">You are here:</p>
    <ol class="slds-breadcrumb slds-list--horizontal" aria-labelledby="bread-crumb-label">
      <li class="slds-list__item slds-text-heading--label"><a href="/contributor">Contributions</a></li>
      <li class="slds-list__item slds-text-heading--label"><a href="/contributor/contributions/{{ contribution.id }}">{{ contribution.title }}</a></li>
    </ol>
  </nav>
  <div class="slds-grid">
    <div class="slds-media">
      <div class="slds-media__body">
        <h1 class="slds-text-heading--medium slds-m-right--small slds-truncate slds-align-middle" title="Submit for Review">Submit for Review</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block base_body %}

<div class="slds-grid">
  <div class="slds-col slds-size--2-of-3 slds-p-around--large">
    {% crispy form form.helper %}
  </div>

  <div class="slds-col slds-size--1-of-3 slds-p-around--large slds-theme--shade">
    <p>When you are done developing your Contribution and have used Save Changes to retrieve and commit your changes, you can use the form below to submit the contribution for review.  This will create a Pull Request in Github requesting to merge your feature branch into the main repository.  The project developers will then review your changes and comment on the Pull Request.  Github will send you notification emails of any comments.</p>
  </div>
</div>
{% endblock %}

