{% extends 'contributor/base.html' %}

{% load crispy_forms_tags %}

{% block base_page_header %}
<div class="slds-page-header" role="banner">
  <nav class="slds-m-bottom--xx-small" role="navigation">
    <p id="bread-crumb-label" class="slds-assistive-text">You are here:</p>
    <ol class="slds-breadcrumb slds-list--horizontal" aria-labelledby="bread-crumb-label">
      <li class="slds-list__item slds-text-heading--label"><a href="/contributor">Contributions</a></li>
      <li class="slds-list__item slds-text-heading--label"><a href="/contributor/contributions/{{ contribution.id }}">{{ contribution.title }}</a></li>
    </ol>
  </nav>
  <div class="slds-grid">
    <div class="slds-media">
      <div class="slds-media__body">
        <h1 class="slds-text-heading--medium slds-m-right--small slds-truncate slds-align-middle" title="Commit Changes to Github">Commit Changes to Github</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block base_body %}

  <div class="slds-grid">
    <div class="slds-col slds-size--2-of-3 slds-col--padded-large">
      {% crispy form form.helper %}
    </div>

    <div class="slds-col slds-size--1-of-3 slds-col--padded-large">
      <p>Enter a message describing your changes in the form below.  Your changes will be retrieved from your DE org and committed to your feature branch in Github automatically.  After submitting, watch the sync status to make sure everything saved successfully.</p>
    </div>
  </div>    

{% endblock %}
