{% extends 'contributor/base.html' %}

{% block base_page_header %}
<div class="slds-page-header" role="banner">
  <nav class="slds-m-bottom--xx-small" role="navigation">
    <p id="bread-crumb-label" class="slds-assistive-text">You are here:</p>
    <ol class="slds-breadcrumb slds-list--horizontal" aria-labelledby="bread-crumb-label">
      <li class="slds-list__item slds-text-heading--label"><a href="/contributor">Contributions</a></li>
      <li class="slds-list__item slds-text-heading--label"><a href="/contributor/contributions/{{ contribution.id }}">{{ contribution.title }}</a></li>
    </ol>
  </nav>
  <div class="slds-grid">
    <div class="slds-media">
      <div class="slds-media__body">
        <h1 class="slds-text-heading--medium slds-m-right--small slds-truncate slds-align-middle" title="Connect to Salesforce Developer Edition Org">Connect to Salesforce Developer Edition Org</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block base_body %}

  <div class="slds-grid">
    <div class="slds-col slds-size--2-of-3 slds-col--padded-large">
      <div class="slds-button-group" role="group">
        <a href="/mpinstaller/oauth/login?redirect={{ redirect }}"><button class="slds-button slds-button--brand">Connect to Org</button></a>
      </div>
    </div>

    <div class="slds-col slds-size--1-of-3 slds-col--padded-large">
      <p>You will manage the development of your contribution in a Salesforce Devleoper Edition org.  It is recommended that you create a new Developer Edition org for your contribution to avoid any issues with existing metadata.</p>
      <p>Before clicking the button below, log into your new DE org in a separate browser window to ensure you are connecting to the correct org.</p>
    </div>
  </div>

{% endblock %}
