{% extends 'contributor/base.html' %}

{% block base_head %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>
<script type="text/javascript">
  var status_api_url = '/contributor/contributions/{{ contribution.id }}/status';
</script>
<script src="/static/js/contribution_status.js"></script>
{% endblock %}
 
{% block base_body_wrapper_header %}
<div class="contribution-status" ng-app="ContributionStatusApp" ng-controller="ContributionStatusController">
{% endblock %}

{% block base_page_header %}
<div class="slds-page-header" role="banner">
  <div class="slds-grid">
    <div class="slds-col slds-has-flexi-truncate">
      <div class="slds-media">
        <div class="slds-media__figure">
          <svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-standard-user">
            {% autoescape off %}
            <use xlink:href="/static/slds/assets/icons/action-sprite/svg/symbols.svg#share_thanks"></use>
            {% endautoescape %}
          </svg>
        </div>
        <div class="slds-media__body">
          <p class="slds-text-heading--label">Contribution</p>
          <div class="slds-grid">
            <h1 class="slds-text-heading--medium slds-m-right--small slds-truncate slds-align-middle" title="{{ contribution.title }}">{{ contribution.title }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-col slds-no-flex slds-align-bottom">
      <div class="slds-button-group" role="group">
        
      <a href="/contributor/contributions/{{ contribution.id }}/check-state">
        <button class="slds-button slds-button--neutral">
        Check for Changes
        </button>
      </a>
        
      <a href="/contributor/contributions/{{ contribution.id }}/commit">
        {% verbatim %}
        <button class="slds-button slds-button--neutral" ng-disabled="contribution.state_uncommitted_changes == false"> 
        Save Changes
        </button>
        {% endverbatim %}
      </a>
        
      <a href="/contributor/contributions/{{ contribution.id }}/submit">
        {% verbatim %}
        <button class="slds-button slds-button--neutral slds-button--last" ng-disabled="contribution.has_user_commit && contribution.fork_pull != null">
        Submit for Review
        </button>
        {% endverbatim %}
      </a>
      </div>
    </div>
  </div>
  <div class="slds-grid slds-page-header__detail-row">
    <div class="slds-col--padded slds-size--1-of-3">
      <dl>
        <dt>
          <p class="slds-truncate" title="Contributor">Contributor</p>
        </dt>
        <dd>
          <a href="https://github.com/{{ contribution.contributor.user.username }}" target="_blank" >
            {{ contribution.contributor.user.username }}
          </a>
        </dd>
      </dl>
    </div>
    <div class="slds-col--padded slds-size--1-of-3">
      <dl>
        <dt>
          <p class="slds-text-heading--label slds-truncate" title="Main Repository">Main Repository</p>
        </dt>
        <dd>
          <a href="https://github.com/{{ contribution.contributor.user.username }}/{{ contribution.get_main_repo_name }}" target="_blank">{{ contribution.get_main_repo_owner }}/{{ contribution.get_main_repo_name }}</a></p>
        </dd>
      </dl>
    </div>
    <div class="slds-col--padded slds-size--1-of-3">
      <dl>
        <dt>
          <p class="slds-text-heading--label slds-truncate" title="Branch">Branch</p>
        </dt>
        <dd><a href="https://github.com/{{ contribution.contributor.user.username }}/{{ contribution.get_main_repo_name }}/tree/{{ contribution.fork_branch }}">{{ contribution.fork_branch }}</a></dd>
      </dl>
    </div>
  </div>

  {% include "contributor/contribution_status.html" %}

</div> 
{% endblock %}

{% block base_body %}

  <div class="slds-grid">

    <div class="slds-col slds-size--2-of-3 slds-p-around--large">



  <div class="slds-tabs--default">
    <ul class="slds-tabs--default__nav" role="tablist">
      <li class="slds-tabs__item slds-text-heading--label slds-active" title="Item One" role="presentation"><a href="#" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1">Activity History</a></li>
    </ul>
    <div id="tab-default-1" class="slds-tabs__content slds-show" role="tabpanel">


      <ul class="slds-timeline">

        {% verbatim %}
        <li class="slds-timeline__item" ng-repeat="sync in contribution.syncs">
          <div class="slds-media slds-media--reverse">
            <div class="slds-media__figure">
              <div class="slds-timeline__actions">
                <p class="slds-timeline__date">{{sync.date_started | date:'M/d/yy h:mma'}}</p>
              </div>
            </div> 
            <div class="slds-media__body">
              <div class="slds-media slds-media--timeline slds-timeline__media--task">
                <div class="slds-media__figure">
                  <svg aria-hidden="true" class="slds-icon slds-timeline__icon slds-icon-standard-task" ng-class="{'slds-theme--warning': sync.status == 'failed'}">
                    <use xlink:href="/static/slds/assets/icons/standard-sprite/svg/symbols.svg#task"></use>
                  </svg>
                </div>
                <div class="slds-media__body">
                  <div class="slds-media slds-tile slds-media--small">
                    <div class="slds-media__body">
                      <p class="slds-tile__title slds-truncate">
                        <a ng-hide="sync.type != 'manual_commit'" ng-href="https://github.com/{{contribution.contributor.user.username}}/{{contribution.repo_name}}/commit/{{sync.new_commit}}" target="_blank">
                          Committed Changes from Org
                        </a>
                        <a ng-hide="sync.type != 'installation'" ng-href="/mpinstaller/installation/{{sync.new_installation.id}}" target="_blank">
                          Deployed Changes from Github to Org
                        </a>
                        <span ng-hide="sync.type != 'sync'">Check Sync Status and Sync</span>
                      </p>
                      <p ng-hide="sync.message == null">{{sync.message}}</p>
                      <ul class="slds-tile__detail slds-list--vertical slds-text-body--small">
                        <li ng-hide="sync.pre_state_uncommitted_changes != true || sync.post_state_uncommitted_changes != false" class="slds-list__item">
                          <dl class="slds-dl--inline">
                            <dt class="slds-dl--inline__label">Uncommitted Changes:</dt>
                            <dd class="slds-dl--inline__detail">All uncommitted changes committed successfully</dd>
                          </dl>
                        </li>
                        <li ng-hide="sync.pre_state_undeployed_commit != true || sync.post_state_undeployed_commit != false" class="slds-list__item">
                          <dl class="slds-dl--inline">
                            <dt class="slds-dl--inline__label">Undeployed Commit:</dt>
                            <dd class="slds-dl--inline__detail">Latest commit was deployed to salesforce successfully</dd>
                          </dl>
                        </li>
                        <li class="slds-list__item">
                          <dl class="slds-dl--inline">
                            <dt class="slds-dl--inline__label">Status:</dt>
                            <dd class="slds-dl--inline__detail">{{sync.status}}</dd>
                          </dl>
                        </li>
                        <li class="slds-list__item" ng-hide="sync.new_commit == null">
                          <dl class="slds-dl--inline">
                            <dt class="slds-dl--inline__label">Commit:</dt>
                            <dd class="slds-dl--inline__detail">
                              <a ng-href="https://github.com/{{contribution.contributor.user.username}}/{{contribution.repo_name}}/commit/{{sync.commit}}" target="_blank">
                                {{sync.commit}}
                              </a>
                            </dd>
                          </dl>
                        </li>
                        <li class="slds-list__item" ng-hide="sync.status != 'failed'">
                          <dl class="slds-dl--inline">
                            <dt class="slds-dl--inline__label">Log:</dt>
                            <dd class="slds-dl--inline__detail" ng-bind-html="sync.log"></dd>
                          </dl>
                        </li>
                        <li class="slds-list__item" ng-hide="sync.new_installation == null">
                          <dl class="slds-dl--inline">
                            <dt class="slds-dl--inline__label">Installation:</dt>
                            <dd class="slds-dl--inline__detail">
                              <a ng-href="/mpinstaller/installation/{{sync.new_installation.id}}" target="_blank">
                                {{sync.new_installation.id}}
                              </a>
                            </dd>
                          </dl>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        {% endverbatim %}

      </ul>






    </div>

    <!-- Deploy to SF Status Modal, controller by Angular-->
    {% verbatim %} 
    <div ng-hide="contribution.current_sync.status != 'in_progress' && contribution.current_sync.status != 'pending'">
      <div aria-hidden="false" role="dialog" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
          <div class="slds-modal__header">
            <h2 class="slds-text-heading--medium">Synchronizing Salesforce and Github</h2>
          </div>
          <div class="slds-modal__content">
            <div class="slds-box" ng-class="{'slds-theme--alert': contribution.current_sync.status == 'in_progress', 'slds-theme--warning': contribution.current_sync == 'failed', 'slds-theme--success': contribution.current_sync == 'success'}">
              <h3>Status: {{contribution.current_sync.status}}</h3>
              <div class="slds-box">
                <p ng-bind-html="contribution.current_sync.log"></p>
                <div class="slds-spinner--medium">
                  <img src="/static/slds/assets/images/spinners/slds_spinner.gif" alt="Loading..." />
                </div>
              </div>

              <div class="slds-card" ng-hide="contribution.current_sync.installation == null">
                <div class="slds-card__header">
                  <h3>Deployment to Salesforce</h3>
                </div>
                <div class="slds-card__body">
                  <div class="slds-box">
                    <h5>Installation Status: {{contribution.current_sync.installation.status}}</h5>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </div>
      <div class="slds-modal-backdrop slds-modal-backdrop--open"></div>
    </div>
    {% endverbatim %}

    <div id="tab-default-2" class="slds-tabs__content slds-hide" role="tabpanel">
    </div>
  </div>







    </div>

    <div class="slds-col slds-size--1-of-3 slds-theme--shade slds-p-around--large">

      <!-- Next Steps, controlled by Angular -->
      {% verbatim %} 
      <div class="slds-card">
        <div class="slds-card__header slds-grid">
          <div class="slds-media slds-media--center slds-has-flexi-truncate">
            <div class="slds-media__figure">
              <svg aria-hidden="true" class="slds-icon slds-icon-standard-contact slds-icon--small">
                {% autoescape off %}
                <use xlink:href="/static/slds/assets/icons/action-sprite/svg/symbols.svg#change_record_type"></use>
                {% endautoescape %}
              </svg>
            </div>
            <div class="slds-media__body">
              <h2 class="slds-text-heading--small slds-truncate">
                Sync Status 
              </h2>
            </div>
          </div>
        </div>

        <div class="slds-card__body">
          <div class="slds-box slds-theme--success" ng-hide="(contribution.state_uncommitted_changes == true || contribution.state_uncommit_changes == true)">
            <h3 class="slds-text-heading--small slds-p-bottom--medium">All Synced Up!</h3>
            <p>Your DE org is synced with Github.  If you've made changes in your org and are still seeing this message:</p>
            <ul class="slds-list--dotted">
              <li>Click the Check for Changes button</li>
              <li>Ensure any new metadata you've added has been added to the package under Setup -&gt; Create -&gt; Packages and then try Check for Change</li>
          </div>

          <div class="slds-box slds-theme--warning" ng-hide="contribution.state_undeployed_commit != true">
            <span class="slds-assistive-text">Warning</span>
            <h3 class="slds-text-heading--small slds-p-bottom--medium">Undeployed Commit</h3>
            <p>There are changes in your Github repository which have not yet been deployed to your Salesforce org.  The sync process should take care of this automatically for you.  If you notice a sync failure below, please contact your reviewer for assistance.</p>
          </div>
   
          <div class="slds-box slds-theme--warning" ng-hide="contribution.state_uncommitted_changes != true">
            <span class="slds-assistive-text">Warning</span>
            <h3 class="slds-text-heading--small slds-p-bottom--medium">Unsaved Changes</h3>
            <p>There appear to be changes in your Salesforce org which are not yet saved to Github.  Use the Save Changes when you are ready to save your changes.</p>
          </div>

        </div>
      </div>
      {% endverbatim %}


      <!-- Github Issue -->
      <div class="slds-card">

        <div class="slds-card__header slds-grid">
          <div class="slds-media slds-media--center slds-has-flexi-truncate">
            <div class="slds-media__figure">
              <svg aria-hidden="true" class="slds-icon slds-icon-standard-contact slds-icon--small">
                {% autoescape off %}
                <use xlink:href="/static/slds/assets/icons/standard-sprite/svg/symbols.svg#case"></use>
                {% endautoescape %}
              </svg>
            </div>
            <div class="slds-media__body">
              <h2 class="slds-text-heading--small slds-truncate">
                Github Issue
                <span class="slds-badge"><a href="https://github.com/{{ contribution.get_main_repo_owner }}/{{ contribution.get_main_repo_name }}/issues/{{ contribution.github_issue }}" title="View Issue on Github" target="_blank">#{{ contribution.github_issue }}</a></span>
              </h2>
            </div>
          </div>
        </div>

        <div class="slds-card__body">


          <div class="slds-grid">
            <div class="slds-col slds-col--padded-large">
              <p>{{ contribution.body|linebreaks }}</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>




{% endblock %}

{% block base_body_wrapper_footer %}
</div>
{% endblock %}
