  <div class="slds-grid contribution-status-bar slds-p-top--medium slds-wrap">
    <div class="slds-col slds-size--1-of-6">
      <div class="slds-box slds-theme--{% if contribution.github_issue and contribution.fork_branch %}success{% else %}shade{% endif %}">
        <svg aria-hidden="true" class="slds-icon">
          {% autoescape off %}
          <use xlink:href="/static/slds/assets/icons/standard-sprite/svg/symbols.svg#{% if contribution.github_issue and contribution.fork_branch %}task2{% else %}empty{% endif %}"></use>
          {% endautoescape %}
        </svg>
        Link to Github
      </div>
    </div>
    <div class="slds-col slds-size--1-of-6">
      <div class="slds-box slds-theme--{% if contribution.sf_oauth %}success{% else %}shade{% endif %}">
        <svg aria-hidden="true" class="slds-icon">
          {% autoescape off %}
          <use xlink:href="/static/slds/assets/icons/standard-sprite/svg/symbols.svg#{% if contribution.sf_oauth %}task2{% else %}empty{% endif %}"></use>
          {% endautoescape %}
        </svg>
        Link to Salesforce
      </div>
    </div>
    <div class="slds-col slds-size--1-of-6">
      <div class="slds-box slds-theme--{% if contribution.last_deployed_commit %}success{% else %}shade{% endif %}">
        <svg aria-hidden="true" class="slds-icon">
          {% autoescape off %}
          <use xlink:href="/static/slds/assets/icons/standard-sprite/svg/symbols.svg#{% if contribution.sf_oauth %}task2{% else %}empty{% endif %}"></use>
          {% endautoescape %}
        </svg>
        Set Up Dev Org
      </div>
    </div>
    <div class="slds-col slds-size--1-of-6">
      <div class="slds-box slds-theme--{% if contribution.has_user_commit %}success{% else %}shade{% endif %}">
        <svg aria-hidden="true" class="slds-icon">
          {% autoescape off %}
          <use xlink:href="/static/slds/assets/icons/standard-sprite/svg/symbols.svg#{% if contribution.has_user_commit %}task2{% else %}empty{% endif %}"></use>
          {% endautoescape %}
        </svg>
        Commit Changes
      </div>
    </div>
    <div class="slds-col slds-size--1-of-6">
      <div class="slds-box slds-theme--{% if contribution.fork_pull %}success{% else %}shade{% endif %}">
        <svg aria-hidden="true" class="slds-icon">
          {% autoescape off %}
          <use xlink:href="/static/slds/assets/icons/standard-sprite/svg/symbols.svg#{% if contribution.fork_pull %}task2{% else %}empty{% endif %}"></use>
          {% endautoescape %}
        </svg>
        Pull Request
      </div>
    </div>
    <div class="slds-col slds-size--1-of-6">
      <div class="slds-box slds-theme--shade">
        <svg aria-hidden="true" class="slds-icon">
          {% autoescape off %}
          <use xlink:href="/static/slds/assets/icons/standard-sprite/svg/symbols.svg#{% if not contribution %}task2{% else %}empty{% endif %}"></use>
          {% endautoescape %}
        </svg>
        Release
      </div>
    </div>
  </div>
