{% extends 'contributor/base.html' %}

{% load staticfiles %}

{% block base_page_header %}
<div class="slds-page-header" role="banner">
  <div class="slds-grid">
    <div class="slds-col slds-has-flexi-truncate">
      <p class="slds-text-heading--label">Contributions</p>
      <div class="slds-grid">
        <div class="slds-grid slds-type-focus slds-no-space">
          <h1 class="slds-text-heading--medium slds-truncate" title="My Contributions">My Contributions</h1>
        </div>
        <button class="slds-button slds-button--brand slds-button-space-left slds-m-right--medium slds-shrink-none slds-align-middle slds-hide" aria-hidden="true">Save</button>
      </div>
    </div>
    <div class="slds-col slds-no-flex slds-align-bottom">
      <div class="slds-grid">
        {% comment %}
        <div class="slds-button-space-left">
          <button class="slds-button slds-button--icon-more" aria-haspopup="true">
            <svg aria-hidden="true" class="slds-button__icon">
              {% autoescape off %}
              <use xlink:href="/static/slds/assets/icons/utility-sprite/svg/symbols.svg#table"></use>
              {% endautoescape %}
            </svg>
            <span class="slds-assistive-text">Table</span>
            <svg aria-hidden="true" class="slds-button__icon slds-button__icon--x-small">
              {% autoescape off %}
              <use xlink:href="/static/slds/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
              {% endautoescape %}
            </svg>
          </button>
        </div>
        <div class="slds-button-group slds-button-space-left" role="group">
          <button class="slds-button slds-button--icon-border">
            <svg aria-hidden="true" class="slds-button__icon">
              {% autoescape off %}
              <use xlink:href="/static/slds/assets/icons/utility-sprite/svg/symbols.svg#chart"></use>
              {% endautoescape %}
            </svg>
            <span class="slds-assistive-text">Chart</span>
          </button>
          <button class="slds-button slds-button--icon-border">
            <svg aria-hidden="true" class="slds-button__icon">
              {% autoescape off %}
              <use xlink:href="/static/slds/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
              {% endautoescape %}
            </svg>
            <span class="slds-assistive-text">Filter List</span>
          </button>
          <button class="slds-button slds-button--icon-more">
            <svg aria-hidden="true" class="slds-button__icon">
              {% autoescape off %}
              <use xlink:href="/static/slds/assets/icons/utility-sprite/svg/symbols.svg#sort"></use>
              {% endautoescape %}
            </svg>
            <span class="slds-assistive-text">Sort</span>
            <svg aria-hidden="true" class="slds-button__icon slds-button__icon--x-small">
              {% autoescape off %}
              <use xlink:href="/static/slds/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
              {% endautoescape %}
            </svg>
            <span class="slds-assistive-text">More</span>
          </button>
        </div>
        {% endcomment %}
        <div class="slds-button-group" role="group">
          <button class="slds-button slds-button--neutral"><a href="/contributor/create">New Contribution</a></button>
          {% comment %}
          <div class="slds-button--last">
            <button class="slds-button slds-button--icon-border-filled">
              <svg aria-hidden="true" class="slds-button__icon">
              {% autoescape off %}
                <use xlink:href="/static/slds/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
              {% endautoescape %}
              </svg>
              <span class="slds-assistive-text">More Actions</span>
            </button>
          </div>
          {% endcomment %}
        </div>
      </div>
    </div>
  </div>
  <p class="slds-text-body--small slds-m-top--x-small">{{ contributions.count }} items • Sorted by Name</p>
</div>
{% endblock %}

{% block base_body %}
<div class="slds-grid">
  <div class="slds-col slds-size-1-of-1">
    <table class="slds-table slds-table--bordered slds-max-medium-table--stacked-horizontal slds-no-row-hover">
      <thead>
        <tr>
          <th class="slds-text-heading--label slds-size--1-of-4" scope="col">Contribution</th>
          <th class="slds-text-heading--label slds-size--1-of-4" scope="col">Github Issue</th>
          <th class="slds-text-heading--label slds-size--1-of-4" scope="col">Branch</th>
          <th class="slds-text-heading--label slds-size--1-of-4" scope="col">Pull Request</th>
{% comment %}
          <th class="slds-row-action" scope="col">
            <button class="slds-button slds-button--icon-border-filled slds-button--icon-border-small">
              <svg aria-hidden="true" class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
                {% autoescape off %}
                <use xlink:href="/static/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                {% endautoescape %}
              </svg>
              <span class="slds-assistive-text">Show More</span>
            </button>
          </th>
{% endcomment %}
        </tr>
      </thead>
      <tbody>
      {% for contribution in contributions %}
        <tr class="slds-hint-parent">
          <td class="slds-size--1-of-4" data-label="Contribution"><a href="/contributor/contributions/{{ contribution.id }}">{{ contribution.title }}</a></td>
          <td class="slds-size--1-of-4" data-label="Github Issue">{{ contribution.github_issue }}</td>
          <td class="slds-size--1-of-4" data-label="Branch">{{ contribution.fork_branch }}</td>
          <td class="slds-size--1-of-4" data-label="Pull Request">{{ contribution.fork_pull }}</td>
{% comment %}
          <td>
            <button class="slds-button slds-button--icon-border-filled slds-button--icon-border-small">
              <svg aria-hidden="true" class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
                {% autoescape off %}
                <use xlink:href="/static/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                {% endautoescape %}
              </svg>
              <span class="slds-assistive-text">Show More</span>
            </button>
          </td>
{% endcomment %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
